{% render 'partials/head.liquid', title: 'Buurtcampus-krant' %}
<button id='openBtn'>
    <img src="assets/1.LOGOS/Een-dag-bij-Buurtcampus.png" class="menuBtn">
</button>
<nav id="sideNav">
    <button id="closeBtn" class="close-btn" aria-label="Sluiten"></button>
    <ul>
                {% for district in districts%}
                    
                    
                        <li><a href="/district/{{ district }}" class="district-nav district-{{ story.district }}">{{ district |capitalize }}</a></li>
                    
                {% endfor %}
                <li><a href="/archief" class="district-nav">Archief</a></li>
                </ul>
            
     </nav>
    </header>
    

<section class="hero">
  <article class="hero-article district-{{ stories[0].district }}">
    {% if stories[0].cover %}
      <picture   class="hero-cover">
        <source type="image/avif"
          srcset="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?fit=cover&width=1600&height=900">
        <source type="image/webp"
          srcset="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?fit=cover&width=1600&height=900">
        <img 
          src="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?width=600&quality=80"
          width="{{ stories[0].width }}"
          height="{{ stories[0].height }}"
          alt="{{ stories[0].title }}">
      </picture>
    {% endif %}
    <div class="hero-content">
      <span class="district-tag">{{ stories[0].district | capitalize }}</span>
      <h3>{{ stories[0].title }}</h3>
      <p>{{ stories[0].intro|truncatewords: 40 }}</p>
      <a href="/story/{{ stories[0].slug }}">Lees meer →</a>
    </div>
  </article>
</section>


<section class="art-container">
  {% for story in stories offset: 1 %}
    <article class="index-article district-{{ story.district }}">
      {% if story.cover %}
<picture>
    <img
  src="https://fdnd-agency.directus.app/assets/{{ story.cover }}?width=600"
  width="{{ story.cover.width }}"
  height="{{ story.cover.height }}"
  alt="{{ story.title }}"
class="cover">
  </picture>
{% endif %}
      <div class="tags">
        <span class="district-tag">{{ story.district | capitalize }}</span>
        <button class="heart-btn" id="heartBtn" aria-label="Like">
          <img id="heartImg" src="/assets/Samenwerking.png" alt="heart" onclick="this.classList.toggle('liked')" >
        </button>
      </div>
      <h3>{{ story.title }}</h3>
      <p>{{ story.intro|truncatewords: 20 }}</p>
      <a href="/story/{{ story.slug }}" class="district-tag">Lees meer </a>
    </article>
  {% endfor %}
  <img class="logos" src="/assets/1.LOGOS/Buurtcampus69.png">
<img class="logo2" src="/assets/1.LOGOS/Buurtcampus65.png">
</section>


{% render 'partials/foot.liquid', img:'/assets/1.LOGOS/Stekje.png' %}
