{% render 'partials/head.liquid', title: 'Buurtcampus-krant' %}
<button id='openBtn'>
    <img src="assets/1.LOGOS/Een-dag-bij-Buurtcampus.png" class="menuBtn">
</button>
<nav id="sideNav">
    
    <svg onclick="closeNav()" viewBox="0 0 32 32" width="32" height="32">
			<title>Sluiten</title>
			<path
				d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z">
			</path>
		</svg>
    <ul>
                {% for district in districts%}
                    
                    
                        <li><a href="/district/{{ district }}" class="district-nav district-{{ story.district }}">{{ district |capitalize }}</a></li>
                    
                {% endfor %}
                <li><a href="/archief" class="district-nav">Archief</a></li>
                </ul>
            
     </nav>
    </header>
    

<section class="hero">
  <article class="hero-article district-{{ stories[0].district }}">
    {% if stories[0].cover %}
      <picture   class="hero-cover">
        <source type="image/avif"
          srcset="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?fit=cover&width=1600&height=900">
        <source type="image/webp"
          srcset="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?fit=cover&width=1600&height=900">
        <img 
          src="https://fdnd-agency.directus.app/assets/{{ stories[0].cover }}?width=600&quality=80"
          width="{{ stories[0].width }}"
          height="{{ stories[0].height }}"
          alt="{{ stories[0].title }}">
      </picture>
    {% endif %}
    <div class="hero-content">
      <span class="district-tag">{{ stories[0].district | capitalize }}</span>
      <h2>{{ stories[0].title }}</h2>
      <p>{{ stories[0].intro|truncatewords: 40 }}</p>
      <a href="/story/{{ stories[0].slug }}">Lees meer →</a>
    </div>
  </article>
</section>


<section class="art-container">
  {% for story in stories offset: 1 %}
    <article class="index-article district-{{ story.district }}">
      {% if story.cover %}
<picture>
    <img
  src="https://fdnd-agency.directus.app/assets/{{ story.cover }}?width=600"
  width="{{ story.cover.width }}"
  height="{{ story.cover.height }}"
  alt="{{ story.title }}"
class="cover">
  </picture>
{% endif %}
      <div class="tags">
        <span class="district-tag">{{ story.district | capitalize }}</span>
      </div>
      <h2>{{ story.title }}</h2>
      <p>{{ story.intro|truncatewords: 20 }}</p>
      <a href="/story/{{ story.slug }}" class="district-tag">Lees meer </a>
    </article>
  {% endfor %}
</section>


{% render 'partials/foot.liquid', img:'/assets/1.LOGOS/Stekje.png' %}
